body {
    padding: 10px;
}

a {
    cursor: pointer;
}

.memo {

    background-color: #FFFACD;
    width: 200px;
    height: 200px;
    border: 1px solid #DAA520;
    padding: 10px;
    margin: 10px;

    float: left;

    position: relative; /* for .delete */

}

.memo .content {
    height: 100%;
    width: 100%;
}

.memo .delete {

    font-family: monospace;
    color: #A52A2A;

    position: absolute;
    top: 0;
    right: 0;

    height: 16px;
    line-height: 16px;
    width: 16px;
    text-align: center;

}
